<template>
<div style="background-image: url('img/fondo.jpg');padding-top:10vh" class="fondo vh-100 overflow-scroll">

  <div style="position:fixed;top:0px;z-index:99" class="row w-100 color-layout item-center shadow-2">

      <div class="col-2 flex flex-center q-pa-xs">
           <q-img src="img/pokeball.png" class="w-90" ></q-img>
      </div>

      <div class="col-10 flex flex-center">
          <q-input borderless  v-model="filtro" class="w-90 input-search q-pl-sm q-pr-sm shadow-3" input-class="height-txt" placeholder="Buscar" >
            <!-- <template class="q-pl-md" v-slot:prepend>
             <q-img src="gaming.png" class="w-100" ></q-img>
            </template> -->
             <template class="q-pr-md" v-slot:append>
              <q-btn icon="search" class="cl_standar" @click="Filtrar()" round size="sm" ></q-btn>
            </template>
          </q-input>
      </div>

    </div>

    <div class="row">
      <div v-for="(item , index) in pokemons "  v-bind:key="index"  class="col-4 col-md-1 ">
       <Card v-if="item.name == nombre || nombre == '' " :pokemon="item" :index="index" />
      </div>
    </div>

</div>
</template>

<script>
import axios from 'axios'
import Card from '../components/Cards'
export default {
  name: 'Empty',
 components:{
  Card
 },
  data () {
    return {
      text: '',
      pokemons: null,
      filtro: '',
      nombre: ''
    }
  },

  computed: {
   
  },


  methods: {

    Filtrar(){
       this.nombre = this.filtro.toLowerCase()
    },

    CargarPokemon(){
      axios.get('https://pokeapi.co/api/v2/pokemon?limit=151').then (datos =>  {
        this.pokemons = datos.data.results
        console.log(this.pokemons)
      })
    }
   
  },

  mounted(){
     this.CargarPokemon()
  },

  beforeMount() {
    // this.CargarPokemon()
  }
}
</script>
