<template>
    <div v-if="pokemon != null"   class="fondo vh-100 bg-gray overflow-scroll" >

        <div class="row">

        

        <div class="col-12 shadow-3 q-mb-md  q-pt-sm q-pb-sm ">

            <div class="col-2">

            </div>

            <div class="col-6 text-center">
                <p class="font-xl bold mb-0  " >{{pokemon.name}}</p>
            </div>

            <div class="col-2">

            </div>

        </div>

        <div class="col-12 flex flex-center  ">
            <q-img :src="ruta || 'img/pokeball.png'" class="w-80 img-pokemon relative q-pb-md img-pokeball"  >


            <div class="absolute" style="top:0px;right:0px" >
                <p class=" font-md text-center mb-0  q-px-sm shadow-3 text-white flex flex-center q-ml-sm rounded q-mb-sm q-px-md q-mt-sm text-center " v-for="(item , index) in tipos "  v-bind:key="index" :style="{ backgroundColor: Color(item.type.name) }" >{{item.type.name}}</p>
            </div>

             <div class="absolute row w-100 content-around" style="bottom:0px;right:0px;z-index:99" >

                <div class="col-3  q-px-sm flex flex-center">
                <q-img :src="pokemon.sprites.front_default" @click="ruta = pokemon.sprites.front_default" class="w-100 img-miniatura q-pa-xs "  ></q-img>
               </div>

               <div class="col-3  q-px-sm flex flex-center">
                <q-img :src="pokemon.sprites.back_default" @click="ruta = pokemon.sprites.back_default" class="w-100 img-miniatura q-pa-xs "  ></q-img>
               </div>

                <div class="col-3  q-px-sm flex flex-center">
                <q-img :src="pokemon.sprites.front_shiny" @click="ruta = pokemon.sprites.front_shiny" class="w-100 img-miniatura q-pa-xs "  ></q-img>
               </div>

                <div class="col-3  q-px-sm flex flex-center">
                <q-img :src="pokemon.sprites.back_shiny" @click="ruta = pokemon.sprites.back_shiny" class="w-100 img-miniatura q-pa-xs "  ></q-img>
               </div>

            </div>


            </q-img>

            
        </div>


        <div class="col-12 row q-mt-md content-around bg-white q-py-md shadow-3 ">

           <div class="col-4 flex flex-center   ">

            <p class="mb-0 " ><b>Height: </b>({{pokemon.height}})</p>

          </div>

          <div class="col-4 flex flex-center  ">

            <p class="mb-0 " ><b>Weight: </b>({{pokemon.weight}})</p>

          </div>

           <div class="col-4 flex flex-center  ">

            <p class="mb-0 " ><b>Pokedex: </b>(#{{pokemon.id}})</p>

          </div>

        </div>

        

      <div class="col-12 q-mt-md row">

        <div @click="tab_stats = true , tab_abilities = false , tab_moves = false "  class="col-4 text-center  flex flex-center ">
           <p class="mb-0 font-xl w-100 text-center" >Stats</p>
           <q-separator :class="tab_stats ? 'tabs-100' : 'tabs-0' " color="black" ></q-separator>
        </div>

         <div @click="tab_stats = false , tab_abilities = true , tab_moves = false "  class="col-4 text-center flex flex-center ">
           <p class="mb-0 font-xl w-100 text-center" >Abilities</p>
           <q-separator :class="tab_abilities ? 'tabs-100' : 'tabs-0' " color="black" ></q-separator>
        </div>

         <div @click="tab_stats = false , tab_abilities = false , tab_moves = true "  class="col-4 flex flex-center text-center ">
           <p class="mb-0 font-xl w-100 text-center" >Moves</p>
           <q-separator :class="tab_moves ? 'tabs-100' : 'tabs-0' " color="black" ></q-separator>
        </div>

      </div>

        <div style="overflow-x: overflow-scroll;" v-if="tab_stats" class="col-12 flex q-mt-md q-px-md q-pb-md item-center">

            <div v-for="(item , index) in estadisticas "  v-bind:key="index" class=" w-100 q-mt-sm row  ">

                <div class="flex w-100  item-center" >
                    <div  class=" soft-border q-px-md  " style="min-width: 50%;" :style="  { width: item.base_stat+'%' ,  backgroundColor: statColor(item.stat.name) } " >
                        <p class="mb-0 font-md text-white" >{{item.stat.name}} = {{item.base_stat}}</p>
                    </div>
                </div>



            </div>

        </div>

        <!-- <div class="col-12 q-mt-md ">
          <p class="font-xl q-ml-md bold mb-0 bold font-xl border-bottom" >Abilities <q-icon :name=" collapse_hab ? ' keyboard_arrow_down ' : 'keyboard_arrow_up'  " @click="collapse_hab = !collapse_hab" class="bg-white rounded  shadow-3 " ></q-icon> </p>
        </div> -->

        <div v-if="tab_abilities" class="col-12 q-mt-md row q-px-md ">

           <div v-for="(item , index) in habilidades" v-bind:key="index" class="bg-white shadow-3 soft-border q-pa-md q-mb-md col-12">

              <p class="font-xl bold mb-0 " >{{item.ability.name}} <span v-if="item.is_hidden == true" class="font-sm" >(Hidden)</span></p>
              <Habilidad  :habilidad="item" :index="index" />
            </div>

        </div>

       

       

         <!-- <div class="col-12 q-mt-md ">
          <p class="font-xl q-ml-md bold mb-0 bold font-xl border-bottom" >Moves <q-icon :name=" collapse_move ? ' keyboard_arrow_down ' : 'keyboard_arrow_up'  " @click="collapse_move = !collapse_move" class="bg-white rounded  shadow-3 " ></q-icon> </p>
        </div> -->
       
       <div v-if="tab_moves" class="col-12 q-px-md q-mt-md row">

         <div v-for="(item , index) in movimientos" v-bind:key="index" class="bg-white shadow-3 soft-border q-my-sm q-pa-md col-12">
              <p class="font-xl bold mb-0 " >{{item.move.name}}</p>
              <p class="font-xl bold mb-0 " > Learned at level: ({{item.version_group_details[0].level_learned_at}}) </p>
              <p class="font-xl bold mb-0 " > Learned method: {{item.version_group_details[0].move_learn_method.name}}  </p>
              <Movimiento  :movimiento="item" :index="index" />
        </div>

       </div>

       

        </div>

    </div>
</template>

<script>
import axios from 'axios'
import Habilidad from '../components/Habilidad.vue'
import Movimiento from '../components/Movimiento.vue'


export default {
  name: 'pokemon',
  components:{
  Habilidad,
  Movimiento
 },
  props:{
  },
  data () {
    return {
      ruta: null,
      pokemon: null,
      idpokemon: null,
      tipos: null,
      estadisticas : null,
      habilidades: null,
      movimientos: null,
      collapse_hab: true, 
      collapse_move:true,
      tab_stats:true,
      tab_abilities:false,
      tab_moves:false
    }
  },

  computed: {
   
  },


  methods: {

    statColor(name){
      switch(name) {
          case 'hp' : return '#78C850';
          case 'attack' : return '#F08030';
          case 'defense' : return '#B8B8D0';
          case 'special-attack' : return '#F85888';
          case 'special-defense' : return '#6890F0';
          case 'speed' : return 'rgb(221 186 48)';

      }
    },

    Color(type){
      switch(type) {
          case 'normal' : return '#A8A878';
          case 'electric' : return '#F8D030';
          case 'poison' : return '#A040A0';
          case 'fairy' : return '#F0B6BC';
          case 'ground' : return '#E0C068';
          case 'grass': return '#78C850';
          case 'fire' : return '#F08030';
          case 'water' : return '#6890F0';
          case 'bug' : return '#A8B820';
          case 'ice' : return '#98D8D8';
          case 'fighting': return '#C03028';
          case 'flying' : return '#A890F0';
          case 'psychic' : return '#F85888';
          case 'rock' : return '#B8A038';
          case 'ghost' : return '#705898';
          case 'dark' : return '#705848';
          case 'dragon' : return '#7038F8';
          case 'steel' : return '#B8B8D0'
      }
    },

    Pokemon_data(){
        this.idpokemon =  this.$route.params.id;
        axios.get('https://pokeapi.co/api/v2/pokemon/'+this.idpokemon).then( (datos) => {
        this.pokemon = datos.data;
        this.tipos = datos.data.types
        this.estadisticas = datos.data.stats
        this.habilidades = datos.data.abilities
        this.movimientos = datos.data.moves
        // console.log(this.movimientos)
         this.ruta = this.pokemon.sprites.front_default;
      });
    },

    rutaselected(){
     
    }
   
  },

  mounted(){
  },

  beforeMount() {
     this.Pokemon_data();
     this.rutaselected();   
  }
}
</script>