<template>
    <div v-if="pokemon_data != null" class="q-mt-sm relative flex flex-center q-pa-sm">

        <p class="w-100 font-xl text-center mb-0 pokedex q-px-md shadow-3 " :style="{ backgroundColor: Color(pokemon_data.types[0].type.name) }"  > #{{pokemon_data.id}} </p>
         <img  :src="pokemon_img" @click="verMas(pokemon_data)" class="w-100 height-auto shadow-3 rounded-1 img-pokeball" style="background-image: url('img/pokeball2.png')" alt="">
          <!-- <q-skeleton v-if="pokemon_img = null " type="circle" /> -->
        <p class=" font-md text-center mb-0 nombre q-px-sm shadow-3 " :style="{ backgroundColor: Color(pokemon_data.types[0].type.name) }" > {{pokemon.name}} </p>

    </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Card',
  props:{
      pokemon:Object
  },
  data () {
    return {
      pokemon_img:null,
      pokemon_data:null,
    }
  },

  computed: {
   
  },


  methods: {

    verMas(pokemon_data){
        this.$router.push({ path:'/pokemon/'+pokemon_data.id, params: {id:pokemon_data.id} })
    },

    Color(type){
      switch(type) {
          case 'normal' : return '#A8A878';
          case 'electric' : return '#F8D030';
          case 'poison' : return '#A040A0';
          case 'fairy' : return '#F0B6BC';
          case 'ground' : return '#E0C068';
          case 'grass': return '#78C850';
          case 'fire' : return '#F08030';
          case 'water' : return '#6890F0';
          case 'bug' : return '#A8B820';
          case 'ice' : return '#98D8D8';
          case 'fighting': return '#C03028';
          case 'fly' : return '#A890F0';
          case 'psychic' : return '#F85888';
          case 'rock' : return '#B8A038';
          case 'ghost' : return '#705898';
          case 'dark' : return '#705848';
          case 'dragon' : return '#7038F8';
          case 'steel' : return '#B8B8D0'
      }
    },

    Pokemon_img(){
      axios.get(this.pokemon.url).then (datos =>  {
          this.pokemon_img = datos.data.sprites.front_default;
        // console.log(datos){}
      })
    },

    Pokemon_data(){
      axios.get(this.pokemon.url).then( (datos) => {
           this.pokemon_data = datos.data;
        // console.log(datos.data)
      });
    }
   
  },

  mounted(){
  },

  beforeMount() {
     this.Pokemon_img()
     this.Pokemon_data()   
  }
}
</script>