<template>
    <div v-if="habilidad_data != null" class="q-mt-sm relative flex flex-center q-pa-sm">

       <p class="" >{{habilidad_data.effect_entries[1].effect}}</p>

    </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Habilidad',
  props:{
      habilidad:Object
  },
  data () {
    return {
      pokemon_img:null,
      habilidad_data:null,
    }
  },

  computed: {
   
  },


  methods: {

   

 

    habilidades_data(){
      axios.get(this.habilidad.ability.url).then( (datos) => {
           this.habilidad_data = datos.data;
        // console.log(this.habilidad_data)
      });
    }
   
  },

  mounted(){
  },

  beforeMount() {

     this.habilidades_data()   
  }
}
</script>