<template>
    <div v-if="movimiento_data != null" class=" relative">

      <p class="font-xl bold mb-0 flex item-center " >Type: <span class=" font-md text-center mb-0 fit-content q-px-md shadow-3 text-white flex flex-center q-ml-sm rounded  text-center " :style="{ backgroundColor: Color(movimiento_data.type.name) }" > {{movimiento_data.type.name}}</span></p>


       <p class="q-mt-sm" >{{movimiento_data.effect_entries[0].effect}}</p>

    </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Movimiento',
  props:{
      movimiento:Object
  },
  data () {
    return {
      pokemon_img:null,
      movimiento_data:null,
    }
  },

  computed: {
   
  },


  methods: {

   

    Color(type){
      switch(type) {
          case 'normal' : return '#A8A878';
          case 'electric' : return '#F8D030';
          case 'poison' : return '#A040A0';
          case 'fairy' : return '#F0B6BC';
          case 'ground' : return '#E0C068';
          case 'grass': return '#78C850';
          case 'fire' : return '#F08030';
          case 'water' : return '#6890F0';
          case 'bug' : return '#A8B820';
          case 'ice' : return '#98D8D8';
          case 'fighting': return '#C03028';
          case 'flying' : return '#A890F0';
          case 'psychic' : return '#F85888';
          case 'rock' : return '#B8A038';
          case 'ghost' : return '#705898';
          case 'dark' : return '#705848';
          case 'dragon' : return '#7038F8';
          case 'steel' : return '#B8B8D0'
      }
    },

    movimientos_data(){
      axios.get(this.movimiento.move.url).then( (datos) => {
           this.movimiento_data = datos.data;
        console.log(this.movimiento_data)
      });
    }
   
  },

  mounted(){
  },

  beforeMount() {

     this.movimientos_data()   
  }
}
</script>