/* // app global css in SCSS form */

.img-pokemon{
    background-color: #81818142;
    border-radius: 1rem;
}

.img-miniatura{
    padding: 5px;
    background-color: #00000052;
    border-radius: 1rem;
}

.hide{
    display: none;
}

.pointer{
    cursor: pointer;
}

.no-max-width{
  max-width: none;
}
/* galeria 3d */

.q-field__prepend {
    padding-right: 12px;
    height: 40px !important ;
}

.height-txt{
    height: 40px !important;
}

.container{
    height: 240px;
    width: 240px;
    perspective: 1000px;
    margin: 10px auto;
}
.box{
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: .7s ease-in-out;
}
.lado{
    position: absolute;
    height: 100%;
    width: 100%;
}
:root{
    --transladacion:translateZ(120px);
}
.lado:nth-child(1){
    transform: rotateY(0deg) var(--transladacion);
}
.lado:nth-child(2){
    transform: rotateY(90deg) var(--transladacion);
}
.lado:nth-child(3){
    transform: rotateY(-90deg) var(--transladacion);
}
.lado:nth-child(4){
    transform: rotateY(180deg) var(--transladacion);
}
.lado:nth-child(5){
    transform: rotateX(90deg) var(--transladacion);
}
.lado:nth-child(6){
    transform: rotateX(-90deg) var(--transladacion);
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.galeria{
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}
.img{
    height: 100px;
    width: 100px;
    margin:5px ;
}

/* fin galeria 3d */

.color-fondo-oscuro{
    background-color: white !important;
    height: 100vh;
    overflow: scroll;
}

.bg-gray{
    background-color: #eeeeee;
}

.color-layout{
    background-color: #00a8ff !important;
}

.color-fondo-claro{
    background-color:  rgba(191, 191, 191, 0.466) !important;
    height: 100vh;
    overflow: scroll;
}

.fondo-dark{
    background-color:   #014900 !important;
}

.fondo-light{
    background-color: rgb(180, 174, 174);
}

.fondo-transparente{
    background-color: rgba(0, 0, 0 , 0 ) !important;
}

.clr-amarrillo{
    color: #f1c40f;
}

.clr-verde{
    color:   #014900 !important;
}


/* // tamaño de las fuentes */

.text-initial{
    text-align: initial;
}

.font-sm{
    font-size: 10px;
}

.font-xs{
    font-size: 10px;
}

.titulos{
    font-size: 27px;
}

.nom-producto{
    font-size: 20px;
}

.font-md{
    font-size: 14px;
}

.font-lg{
    font-size: 15px;
}

.font-xl{
    font-size: 18px;
}

.bold{
    font-weight: bold;
}

.thin{
    font-weight: 100;
}

/* // fin tamaño de las fuentes */

/* colores de fuentes  */

.txt-etiquetas-2{
    color: #000000;
}

.txt-etiquetas{
    color: white;
}

/* fin color de fuente */

/* // border */

.tabs-100{
    width: 100%;
    transition: all ease .5s;
    height: 1px;
}

.tabs-0{
    width: 0%;
    transition: all ease .5s;
    height: 1px;
}


.border{
    border: 1px white solid;
}

.border-bottom{
    border-bottom: 1px rgb(0, 0, 0) solid ;
}

.border-right{
    border-right: 1px rgb(176, 174, 174) solid ;
}


.border-yl{
    border-top: 1px rgb(180, 174, 174) solid ;
    border-bottom: 1px rgb(180, 174, 174) solid ;
}

/* // fin border */

/* // imagenes */

.img-publicidad{
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100vh;
}

.img-pokeball{
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center center;
}

.fondo{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.img-productos{
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 13vh;
}

.img-detalle-producto{
   max-height: 300px;
   object-fit: cover;
   object-position: center center;
   width: 100%;
}

.img-detalle-producto-zoom{
    max-height: 500px;
    min-width: 300px;
    object-fit: cover;
    object-position: center center;
    width: 100%;
 }

/* // fin imagenes */

/* // botones */

.cl_standar{
    background-color: #f1c40f !important;
    color:  white !important;
}

.cl_standar-2{
    background-color: #f1c40f !important;
    color: white !important;
}

.icon-no-bg{
    color: #f5a603;
}

.sm-btn-pc{
    border-radius: 50%;
    width: 50%;
    height: 100%;
}

/* // fin botones */

/* // tamaño de las fuentes */

.label{
    font-size: 25px;
}

.elipsis{
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* // fin tamaño de las fuentes */

/* // text-box */

.input_txt{
	background: rgba(236, 236, 236 , 0.1 ) !important;
	border-radius: .5rem;
    padding-bottom: 0rem;
    height: 40px;
    color: white;
}

.input_txt-2{
	background: rgba(0, 0, 0, 0.1) !important;
	border-radius: 5rem;
    padding-bottom: 0rem;
    height: 40px;
    color: white;
}

.input_grow{
	background: rgba(0, 0, 0 , 0.1 ) !important;
	border-radius: .5rem;
    padding-bottom: 0rem;
    color: white;
}

.input-search{
	background: rgba(243, 243, 243, 0.979) !important;

	border-radius: 5rem;
    padding-bottom: 0rem;
    height: 40px;
    color: white;
}

/* // fin text-box */

/* // componentes de quasar */

/* PADDING DEL CARRUSEL */

.q-virtual-scroll__content{
    display: block;
    flex-wrap: wrap;
}

.q-carousel--arrows-horizontal.q-carousel--with-padding .q-carousel__slide{
    padding-left: 15px;
    padding-right: 15px;
}

.q-carousel__slide{
    padding : 0px
}

.q-carousel__arrow .q-icon {
    font-size: 28px;
}

/* // sangria de los q-input */
.q-field__native {
    margin-left: 10px !important;
}
/* // fin sangria de los q-input */

/* // componentes de quasar */

/* // padding */

.p-0 {
    padding: 0px !important;
}

.pt-0{
    padding-top: 0px;
}

/* // fin padding */

/* // margin */

.mb-0{
    margin-bottom: 0px;
}

.m-0{
    margin: 0px;
}

.m-20{
    margin-top: 10%;
    margin-bottom: 10%;
}

.m-30{
    margin-top: 15%;
    margin-bottom: 15%;
}

.m-40{
    margin-top: 20%;
    margin-bottom: 20%;
}


.m-50{
    margin-top: 25%;
    margin-bottom: 25%;
}

.m-60{
    margin-top: 30%;
    margin-bottom: 30%;
}

.m-70{
    margin-top: 35%;
    margin-bottom: 35%;
}

.m-80{
    margin-top: 40%;
    margin-bottom: 4%;
}

.m-90{
    margin-top: 45%;
    margin-bottom: 45%;
}

.m-100{
    margin-top: 50%;
    margin-bottom: 50%;
}

.mb-0{
    margin-bottom: 0px;
}

.mt-10vh{
    margin-top: 10vh;
}

.mt-20vh{
    margin-top: 20vh;
}

/* // fin margin */


/* // tamaños */

.fit-content{
    width: fit-content;
}

.w-1{
    width: 1%;
}

.w-5{
    width: 15%;
}

.w-10{
	width: 10%;
}

.w-15{
	width: 15%;
}

.w-20{
	width: 20%;
}

.w-30{
	width: 30%;
}

.w-40{
	width: 40% !important;
}

.w-50{
	width: 50%;
}

.w-60{
	width: 60%;
}


.w-70{
	width: 70%;
}

.w-80{
	width: 80%;
}

.w-90{
	width: 90%;
}

.w-100{
	width: 100%;
}

.overflow-scroll{
    overflow: scroll;
}

.vh-0{
    height: 0vh;
}

.vh-60{
    height: 70vh;
}

.vh-70{
    height: 70vh;
}

.vh-80{
    height: 80vh;
}

.vh-90{
    height: 90vh;
}

.vh-100{
    height: 100vh;
}

.collapse-hab{
    padding: 0px;
    margin: 0px;
    height: 0vh !important ;
    overflow: hidden;
    transition: 1s all ease;
}

.height-auto{
    height: auto;
}
/* // fin tamaños */

/* barra de scroll */

/* ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(163, 162, 168); 
   border-radius: 10px;
}
::-webkit-scrollbar-thumb {
   border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(144, 145, 150, 0.966);
   background-color: rgba(255, 254, 254, 0.767);
} */


.q-img__content > div {
    pointer-events: all;
    position: absolute;
    padding: 16px;
    color: #fff;
    background: rgba(54, 57, 0, 0);
}

/* // redondeados */

.rounded{
	border-radius: 5rem;
}

.rounded-1{  
	border-radius: 1rem !important ;
}

.soft-border{
	border-radius: .5rem;
}

.circle{
    border-radius: 50%;
}

.rounded-top{
    border-top-left-radius: .5rem ;
    border-top-right-radius: .5rem ;
}

.rounded-bottom{
    border-bottom-left-radius: .5rem ;
    border-bottom-right-radius: .5rem ;
}

.q-field__append {
    padding-left: 12px;
    height: 40px;
}
/* // fin redondeados */

/* // clases de flex  */
.content-between{
	justify-content: space-between;
}

.content-center{
    justify-content: center;
}

.content-around{
	justify-content: space-around;
}

.item-center{
	align-items: center;

}
 /* fin clases de flex */

 .q-dark {
    color: #fff;
    background: #45276d !important ;
}

 /* fixed */

 .relative{
     position: relative;
 }

 .pokedex{
     position: absolute;
     background-color: rgb(4, 194, 182);
     /* background-image: url('img/pokeball2.png'); */
     top: 0px;
     left: 10px;
     width: auto;
     border-radius: 5rem;
     color: white;
 }

 .nombre{
    position: absolute;
    /* background-color: rgba(24, 149, 245, 0.859); */
    bottom: 10px;
    right: 10px;
    width: auto;
    border-radius: 5rem;
    color: white;
 }

 .absolute-precio{
     position: absolute;
     bottom: 0;
     margin-bottom: -20px;
     right: 0;
     margin-right: -20px;
 }

 .fixed-footer{
     position: fixed;
     bottom: 0;
     width: 90%;
     margin-bottom: 20px;
     padding-left: 20px;
     padding-right: 20px;
 }

 .fixed-header{
    position: fixed;
    top: 0;
    width: 90%;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (min-width:992px){
    
    .hide-xl{
        display: none;
    }

    .height-home-cards{
        height: 80vh;
    }

    .flex-center-xl{
        display: flex;
        justify-content: center;
        align-items: center;
    }
 }

@media screen and (max-width:992px){
   
    .hide-md{
        display: none;
    }

    .height-home-cards{
        height: 80vh;
    }
 }

@media screen and (max-width:420px){
     
    .height-home-cards{
        height: 65vh;
    }

    .hide-sm{
        display: none;
    }

    .show-sm{
        display: initial;
    }

    .w-100-sm{
        width: 100%;
    }
 }

 @media screen and (max-width:340px){
    .fixed-logo-plade{
        position: fixed;
        bottom: 0;
        right: 35%;
        margin-bottom: 10px;
    }

   

    .hide-xs{
        display: none;
    }
 }

 @media screen and (max-width:330px){
    .fixed-logo-plade{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
 }

/* clases propias del home */

.cont_card_ml{
    margin-left: 7%;
}

.alt_card{
    height: 230px !important; 
}

@media screen and (max-width:330px) {
	.font-xl{
		font-size: 10px;
	}

	.font-m{
		font-size: 10px !important;
	}

	.font-lg{
		font-size: 10px;
	}

	.font_titulosxl{
		padding: 0px;
		font-size: 15px !important;
	}

    .font-md{
		font-size: 10px;
	}

	.q-chip{
		border-radius: 0px !important;
		background-color: blue!important;
		padding: 5px;
		color: white !important;
		border: none;
	}
	
	.q-chip-2{
		border: 1px solid #fb5a6a;
		background-color: white!important;
		padding: 12px;
		color: #fb5a6a!important;
		margin-bottom: 10px !important;
		border-radius: 5rem !important;
	}

	.q-btn{
		padding: 0px;
		font-size: 10px !important;
	}

	.cl_standar{
		font-size: 10px;
	}

    .swal2-title {
        position: relative;
        max-width: 100%;
        margin: 0 0 .4em;
        padding: 0;
        color: #595959;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        text-transform: none;
        word-wrap: break-word;
    }

    .swal2-content {
        z-index: 1;
        justify-content: center;
        margin: 0;
        padding: 0 1.6em;
        color: #545454;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        word-wrap: break-word;
    }

    .mt-sm-0 {
        margin-top: 0px;
     }

	.img-icon{
		width: 10px !important;
		height: 10px !important;
	}

   

	.img-user{
		width: 40px !important;
		height: 40px !important;
	}

	.font_titulosmd {
		font-size: 12px;
		font-weight: bold;
	}

	

	.q-field--dense .q-field__label {
		font-size: 10px;
		top: 10px;
	}

	.q-field__label {
		font-size: 10px;
	}

	.q-field__before, .q-field__prepend {
	 font-size: 15px;
	}

	.q-tab__label {
		font-size: 10px;
		line-height: 1.715em;
		font-weight: 500;
		text-transform: capitalize;
	}

    .q-field__native {
        margin-left: 10px !important;
        height: 40px;
        font-size: 10px;
    }

    .pb-home{
        padding-bottom: 15vh;
    }
}

.pb-home{
    padding-bottom: 10vh;
}

.img-carrito{
    object-fit: cover;
    object-position: center center;
    height: 200px;
}

