<template>

<q-page-container>
      <router-view />
</q-page-container>

</template>

<script>
export default {
  name: 'Empty',

  data () {
    return {
     
    }
  },

  computed: {
   
  },


  methods: {
   
  },

  beforeMount() {
    
  }
}
</script>
